:root {
  /* Fonts Properties */
  --main-font: "Barlow Semi Condensed", sans-serif;
  --500-weight: 500;
  --600-weight: 600;
  --main-fs: 13px;

  /* Primary Color Properties */
  --mod-violet: hsl(263, 55%, 52%);
  --very-dk-gray-blue: hsl(217, 19%, 35%);
  --very-dk-black-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);

  /* Neutral Color Properties */
  --lt-gray: hsl(0, 0%, 81%);
  --lt-gray-blue: hsl(210, 46%, 95%);

  /* Opacity Property */
  --50-op: 50%;
  --70-op: 70%;
}

/* Mobile first approach */
/* Global settings */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 375px;
  margin: 0 auto;
  font-family: var(--main-font);
  font-size: var(--main-fs);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.testimonial-container {
  background-color: var(--lt-gray-blue);
  padding: 30px;
}

/* Styling of testimonial card */

.graduate {
  display: flex;
  flex-direction: column;
  padding: 32px;
  margin-bottom: 25px;
  border-radius: 8px;
}

.who-is {
  display: flex;
  margin-bottom: 20px;
}

.review {
  font-weight: var(--600-weight);
  font-size: 1.2rem;
  margin-bottom: 20px;
}

img {
  margin-right: 15px;
  border-radius: 50%;
  border: 2px solid white;
}

.status {
  opacity: var(--50-op);
}

.quote {
  opacity: var(--70-op);
}

/* Styling individual cards */

.student1 {
  background-image: url(./images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: right 10px top;
  background-size: 7.5rem;
  background-color: var(--mod-violet);
  color: var(--white);
}

.student2 {
  background-color: var(--very-dk-gray-blue);
  color: var(--white);
}


/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
